@charset "UTF-8";
/*globales*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #2d2c32;
}

/*utilities*/
/*MIXINS*/ /*Media querys*/
/*componentes*/
.about {
  padding: 100px 0;
}
.about .about-content {
  display: flex;
}
.about .about-content .about-1 {
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../fotos/impresora1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  display: flex;
  align-items: end;
  height: 500px;
  border-radius: 10px;
}
.about .about-content .about-1 h3 {
  font-size: 14px;
  color: #ffffff;
  margin-left: 20px;
}
.about .about-content .about-2 {
  width: 50%;
  margin-left: 10px;
}
.about .about-content .about-2 .about-in1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../fotos/impresora2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  display: flex;
  align-items: end;
  height: 500px;
  border-radius: 10px;
}
.about .about-content .about-2 .about-in1 h3 {
  font-size: 14px;
  color: #ffffff;
  margin-left: 15px;
}

hr {
  margin: 2px;
  border: 1px solid #5b5bd7;
}

@media (max-width: 768px) {
  .btn-2 {
    width: 110px;
  }
  .about {
    padding: 30px;
  }
  .about-1 {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-2 {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 555px) {
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.txt h2 {
  font-size: 30px;
  color: #ffffff;
}

.produc-content {
  display: flex;
}
.produc-content .foto img {
  margin: 0 5px;
  width: 280px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.produc-content .follo {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.produc-content .follo img {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.produc-content .follo h3 {
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.imagen-transicion {
  transition: transform 0.3s ease;
}

.imagen-transicion:hover {
  transform: scale(1.1);
}

.btn-2 {
  display: block;
  padding: 10px 20px;
  background-color: #101011;
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 10px;
  text-decoration: none;
}
.btn-2:hover {
  background: linear-gradient(90deg, #3c104b 25%, rgb(193, 190, 190) 300%);
}

@media (max-width: 1180px) {
  .produc {
    padding: 30px;
  }
  .produc-content {
    display: flex;
    /* Utilizamos flexbox para alinear los elementos */
    flex-wrap: wrap;
    /* Permitimos que los elementos se envuelvan a medida que se reduzca el ancho de la pantalla */
    justify-content: center;
    /* Centramos horizontalmente los elementos */
    align-items: center;
    /* Centramos verticalmente los elementos */
  }
  .foto {
    width: 45%;
    /* Definimos el ancho de cada imagen */
    margin: 10px;
    /* Añadimos un margen a cada imagen */
  }
  .foto {
    width: 45%;
    /* Definimos el ancho de cada imagen */
    margin: 10px;
    /* Añadimos un margen a cada imagen */
    text-align: center;
    /* Centramos horizontalmente el contenido dentro de cada foto */
  }
  .foto img {
    display: inline-block;
    /* Evitamos el espacio extra debajo de las imágenes */
    max-width: 100%;
    /* Aseguramos que las imágenes no sean más anchas que su contenedor */
  }
  .follo {
    display: flex;
    /* Utilizamos flexbox para alinear los elementos */
    justify-content: center;
    /* Centramos horizontalmente los elementos */
    align-items: center;
    /* Centramos verticalmente los elementos */
    margin-top: 10px;
    /* Añadimos un margen superior al contenedor de precios */
  }
  .about {
    padding: 30px;
  }
}
.parte1 {
  width: 100%;
  color: #eeeff3;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  padding-left: 25px;
  color: #ddd;
}

p {
  color: #ddd;
  font-size: 16px;
  padding-left: 30px;
}

.sabermas {
  display: block;
  padding: 10px 20px;
  background-color: #101011;
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 10px;
  text-decoration: none;
}
.sabermas:hover {
  background: linear-gradient(90deg, #3c104b 25%, rgb(193, 190, 190) 300%);
}

.equipo {
  color: #eeeff3;
  text-align: center;
  padding-bottom: 30px;
}

.parte2 {
  width: 100%;
  color: #eeeff3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.imagendeparte2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.imagendeparte2 img {
  width: 80%;
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: 10%;
}

.texto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.mapa iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border-radius: 5px;
}

@media (max-width: 578px) {
  .parte2 {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }
}
.product {
  max-width: 1100px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product .main-image:hover {
  transform: scale(1.15);
}
.product .product-gallery {
  margin-top: 15px;
}
.product img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}
.product .product-gallery img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.product .txth2 {
  color: #ffffff;
  margin-bottom: 15px;
}
.product .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 70%;
  color: #000000;
}
.product .precio {
  font-size: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgb(200, 65, 157);
}

/*botones de compra y favorito*/
.botones {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
}
.botones .boton-compra,
.botones .boton-favorito {
  padding: 10px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-color: #0e0e0e;
  color: #f7f5f5;
  cursor: pointer;
  transition: background-color 0.2s;
}
.botones .boton-compra:hover,
.botones .boton-favorito:hover {
  background-color: #3c104b;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

@media (max-width: 768px) {
  .product-container {
    justify-content: space-between;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .thumbnail-container {
    margin-top: 0;
    margin-left: 20px;
  }
  .main-image {
    margin-right: 10px;
  }
  .boton-compra {
    width: 110px;
  }
}
/*layout*/
.container {
  margin: 0 auto;
  padding: 10px 0;
}

.divcontainer {
  display: flex;
}

.header {
  background: linear-gradient(180deg, rgba(43, 42, 48, 0.5) 0%, rgb(45, 44, 50) 100%), url(../fotos/baner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #a0a3c4;
  display: block;
  font-weight: 600;
  text-decoration: none;
}

.menu .navbar ul li a:hover {
  color: #ffffff;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content.container {
  display: flex;
  justify-content: left;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-txt span {
  font-size: 14px;
  color: #5b5bd7;
  text-transform: capitalize;
  white-space: nowrap;
}
.header-txt h1 {
  font-size: 50px;
  line-height: 70px;
  color: #ffffff;
  margin-bottom: 10px;
  white-space: nowrap;
}

.btn-1 {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  padding: 10px 15px;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(40, 38, 38) 25%, rgb(3, 3, 3) 100%);
  border-radius: 15px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.815);
}
.btn-1:hover {
  background: linear-gradient(90deg, #3c104b 25%, rgb(193, 190, 190) 300%);
}

@media (max-width: 768px) {
  .menu {
    padding: 20px;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .header {
    min-height: 0vh;
  }
  .header-content {
    flex-direction: column;
    padding: 100px 30px 30px 30px;
  }
  .header-txt {
    width: 100%;
    text-align: center;
  }
  .header-txt h1 {
    margin-bottom: 15px;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  padding: 30px;
  text-decoration: none;
}
footer .footer-links {
  color: #ffffff;
  font-size: 18px;
  margin-right: 15px;
}
footer .footer-links a {
  color: #ffffff;
  text-transform: capitalize;
  margin-right: 10px;
  text-decoration: none;
}
footer .footer-links a:hover {
  color: #a0a3c4;
}
footer ul {
  display: flex;
}
footer .footer-links-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-links-1 h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
}
footer .footer-links-1 a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
}
footer .final {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
}
.grid-container .header {
  grid-column: 1/-1;
  text-align: center;
}
.grid-container .texto {
  color: #dbd7d7;
}
.grid-container .step {
  border: 1px solid #ccc;
  padding: 20px;
}
.grid-container .step h3 {
  margin-top: 0;
}

.titulo {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.preguntas-respuestas {
  text-align: center;
}

.pregunta {
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(234, 229, 234, 0.6784313725);
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
}
.pregunta:hover {
  background: linear-gradient(90deg, #3c104b 25%, rgb(193, 190, 190) 300%);
  color: #ccc;
}

.respuesta {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/*parte de contacto*/
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.campo {
  padding: 13px 10px;
  background-color: #eeeff3;
  color: #020202;
  outline: none;
  font-size: 15px;
  margin: 0 10px 20px 0;
  border-radius: 5px;
}

.campo2 {
  padding: 5px 5px;
  background-color: #eeeff3;
  color: #020202;
  outline: none;
  font-size: 15px;
  margin: 0 10px 20px 0;
  border-radius: 5px;
  height: 150px;
  width: 85%;
}

.section-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-content h2 {
  color: #ffffff;
}

.btn-3 {
  padding: 10px 15px;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(40, 38, 38) 25%, rgb(3, 3, 3) 100%);
  border-radius: 15px;
  display: block;
  margin: 30px auto;
}

/*# sourceMappingURL=main.css.map */
