.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.divcontainer {
    display: flex;
}

.header {
    background: linear-gradient(180deg,
            rgba(43, 42, 48, 0.5) 0%,
            rgba(45, 44, 50, 1) 100%),
        url(../fotos/baner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

    .logo {
        height: 70px;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar {
            ul {
                li {
                    position: relative;
                    float: left;

                    a {
                        font-size: 18px;
                        padding: 20px;
                        color: #a0a3c4;
                        display: block;
                        font-weight: 600;
                        text-decoration: none;

                        &:hover {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        #menu {
            display: none;
        }

        .menu-icono {
            width: 25px;
        }

        label {
            cursor: pointer;
            display: none;
        }
    }

    .header-content.container {
        display: flex;
        justify-content: left;
    }

    .header-content {
        display: flex;
        align-items: center;
    }

    .header-txt {
        width: 100%;
        @include flex-columna;

        span {
            font-size: 14px;
            color: #5b5bd7;
            text-transform: capitalize;
            white-space: nowrap;
        }

        h1 {
            font-size: 50px;
            line-height: 70px;
            color: #ffffff;
            margin-bottom: 10px;
            white-space: nowrap;
        }
    }
}

.btn-1 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    padding: 10px 15px;
    color: #ffffff;
    background: linear-gradient(90deg,
            rgb(40, 38, 38) 25%,
            rgb(3, 3, 3) 100%);
    border-radius: 15px;

    &:hover {
        @include background-botones;
    }
}