.txt {
  @include flex-espacios-centrado;
  margin-bottom: 35px;

  h2 {
    font-size: 30px;
    color: #ffffff;
  }
}

.produc-content {
  display: flex;

  .foto img {
    margin: 0 5px;
    width: 280px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
  }

  .follo {
    margin-top: 10px;
    @include flex-centrado;
    cursor: pointer;

    img {
      width: 20px;
      @include flex-centrado;
      cursor: pointer;
    }

    h3 {
      color: #ffffff;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.btn-2 {
  display: block;
  padding: 10px 20px;
  background-color: #101011;
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 10px;
  text-decoration: none;

  &:hover {
    @include background-botones;
  }
}

@media (max-width: $mediaTablet-1180) {
  .produc {
    padding: 30px;
  }



  .produc-content {
    display: flex;
    /* Utilizamos flexbox para alinear los elementos */
    flex-wrap: wrap;
    /* Permitimos que los elementos se envuelvan a medida que se reduzca el ancho de la pantalla */
    justify-content: center;
    /* Centramos horizontalmente los elementos */
    align-items: center;
    /* Centramos verticalmente los elementos */
  }

  .foto {
    width: 45%;
    /* Definimos el ancho de cada imagen */
    margin: 10px;
    /* Añadimos un margen a cada imagen */
  }

  .foto {
    width: 45%;
    /* Definimos el ancho de cada imagen */
    margin: 10px;
    /* Añadimos un margen a cada imagen */
    text-align: center;
    /* Centramos horizontalmente el contenido dentro de cada foto */
  }

  .foto img {
    display: inline-block;
    /* Evitamos el espacio extra debajo de las imágenes */
    max-width: 100%;
    /* Aseguramos que las imágenes no sean más anchas que su contenedor */
  }

  .follo {
    display: flex;
    /* Utilizamos flexbox para alinear los elementos */
    justify-content: center;
    /* Centramos horizontalmente los elementos */
    align-items: center;
    /* Centramos verticalmente los elementos */
    margin-top: 10px;
    /* Añadimos un margen superior al contenedor de precios */
  }

  .about {
    padding: 30px;
  }
}

