.parte1 {
    width: 100%;
    color: #eeeff3;
    padding-bottom: 40px;

    @include flex-columna;
}

h4 {
    padding-left: 25px;
    color: #ddd;
}

p {
    color: #ddd;
    font-size: 16px;
    padding-left: 30px;
}

.sabermas {
    display: block;
    padding: 10px 20px;
    background-color: #101011;
    color: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 10px;
    text-decoration: none;

    &:hover {
        @include background-botones;
    }
}

.equipo {
    color: #eeeff3;
    text-align: center;
    padding-bottom: 30px;

}

.parte2 {
    width: 100%;

    color: #eeeff3;

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.imagendeparte2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.imagendeparte2 img {
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 10%;
}


.texto {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;

}

.mapa iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border-radius: 5px;
}




@media (max-width:578px) {

    .parte2 {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction:column;
    }
}