.parte1 {
    width: 50%;
    color: #eeeff3;

    @include flex-columna;
}

h4 {
    padding-left: 25px;
    color: #ddd;
}

p {
    color: #ddd;
    font-size: 16px;
    padding-left: 30px;
}

.sabermas {
    padding-left: 30px;
}

.parte2 {
    width: 50%;

    color: #eeeff3;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.imagendeparte2 {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.imagendeparte2 img {
    width: 170px;
    margin-bottom: 10px;
    border-radius: 10%;
}

.texto {
    padding-left: 25px;
}

.mapa {
    padding-left: 30px;
    margin-top: 20px;
}

.mapa iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
}


@media only screen and (max-width: $mediaDesktop-9740) {
    .parte1 {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    h4 {
        padding-left: 10px;
    }

    p {
        padding-left: 10px;
    }

    .parte2 {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .imagendeparte2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .imagendeparte2 img {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
        border-radius: 10%;
    }

    .texto {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mapa {
        padding-left: 10px;
        margin-top: 20px;
    }
}