.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 20px;
  
    .header {
      grid-column: 1 / -1;
      text-align: center;
    }
    .texto{
        color: #dbd7d7;
    }
    .step {
      border: 1px solid #ccc;
      padding: 20px;
  
      h3 {
        margin-top: 0;
        
      }
    }
  }
  